/*  CSS for carte.html
    Author : Nathan Lafont
    12/10/2023
*/

/* -------------------- RESET CSS -------------------- */

html {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
  box-sizing: inherit;
}


/*** -------------------- BODY -------------------- ***/

body {
  font-family: Helvetica, sans-serif;
  padding: 2%;
  padding-top: 10px;
  padding-bottom: 150px;
  background-image: linear-gradient(to bottom right, #ffffff, #325268);
  background-repeat:no-repeat;
  overflow:visible;
}

/** -------------------- HAUT-DE-PAGE -------------------- **/

.header {
  background-image: url(../images/norvege/ersfjordboten_moi.jpg);
  background-size: 120% ;
  background-position: 70% 59% ;
  background-attachment: local;
  text-align: center;
  padding: 60px;
  margin-left: 10% ;
  margin-right: 10% ;
}

.header h1 {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ccc;
}

.header h2 {
  font-family: Helvetica, sans-serif;
  color: #ccc;
  font-size: 16px;
}

/** -------------------- MENU -------------------- **/

nav {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.925);
  position: sticky;
  top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 999;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul .deroulant{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: rgb(102, 147, 177);
  border-bottom: 2px solid rgb(50, 77, 101);
}

/* -------------------- SOUS-MENUS -------------------- */

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc ;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.deroulant:hover .sous{
  display: block;
}

.sous li {
  float : none;
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after {
  content: "  ▼";
  font-size: 12px;
}

/** -------------------- CORPS DE PAGE --------------------  **/

/* ---- Organisation de la page ----*/

/* Colone de gauche */
.leftcolumn {   
  float: left;
  width: 75%;
  padding-left: 5%;
}

/* Colone de droite */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-right: 5%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.709);
  padding: 20px;
  margin-top: 20px;
  text-justify: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* ---- Texte ---- */
.heading {
  margin: 0;
  font-size: 24px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.heading2{
  margin: 0;
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.sub-heading {
  border-bottom: 1px solid #e0e0e0;
  font-style: italic;
  color: #777;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

p{
  text-align: justify;
  line-height: 150%;
  text-indent: 30px ;
}

p a, a {
  text-decoration: none;
  color: rgb(102, 147, 177);;
  font-weight: 400;
}

p a:hover{
  font-weight: 600;
}

/* Légende */

legend{
  display:grid;
}
.legend{
  list-style: none;
  padding-left: 0;
}

.element-legend {
  margin-bottom: 15px;
  font-size: 13px;
  display: flex;
  justify-content:baseline;
}

.icone-legend {
  padding-right:20px;
}

.carre-bleu{
  height: 10px;
  width:20px;
  border : 1px solid ;
  background-color: #CCE5FF;
}

/* Carte */

#carte {
  position: relative ;
  width: 100%;
  height: 500px;
  padding: 20px;
  z-index : 1;
}

/* Style de pop-up */

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  max-width: 800px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

/* Style panneau fixe */
.fixed-panel {
  top: 200px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
  max-height : 400px;
  height : 400px;
  margin-top : 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Initially hidden */
  bottom: 230px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.button {
  border-radius : 100%;
}

.popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}



