/*  CSS for passion.html
    Author : Nathan Lafont
    12/10/2023
*/

/* -------------------- RESET CSS -------------------- */

html {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
  box-sizing: inherit;
}


/*** -------------------- BODY -------------------- ***/

body {
  font-family: Helvetica, sans-serif;
  padding: 2%;
  padding-top: 10px;
  padding-bottom: 150px;
  background-image: linear-gradient(to bottom right, #ffffff, #325268);
  background-repeat:no-repeat;
  overflow:visible;
}

/** -------------------- HAUT-DE-PAGE -------------------- **/

.header {
  background-image: url(../images/norvege/ersfjordboten_moi.jpg);
  background-size: 120% ;
  background-position: 70% 59% ;
  background-attachment: local;
  text-align: center;
  padding: 60px;
  margin-left: 10% ;
  margin-right: 10% ;
}

.header h1 {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ccc;
}

.header h2 {
  font-family: Helvetica, sans-serif;
  color: #ccc;
  font-size: 16px;
}

/** -------------------- MENU -------------------- **/

nav {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.925);
  position: sticky;
  top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 999;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul .deroulant{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: rgb(102, 147, 177);
  border-bottom: 2px solid rgb(50, 77, 101);
}

/* -------------------- SOUS-MENUS -------------------- */

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc ;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.deroulant:hover .sous{
  display: block;
}

.sous li {
  float : none;
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after {
  content: "  ▼";
  font-size: 12px;
}

/** -------------------- CORPS-DE-PAGE -------------------- **/

/* ---- Organisation de la page ----*/

.column {
  max-height: max-content;
  background-color: white;
  padding: 2%;
  margin: 20px;
  float: left;
  width: 30%;
}

.column-photos {
  max-height: max-content;
  background-color: white;
  padding: 2%;
  margin: 2%;
  float: left;
  width: 46%;
}

.separator{
  display: flex;
  margin-left: 15%;
  width: 70%;
  border: solid #ffffff;
  margin-top: 14px;
  margin-bottom: 24px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.709);
  padding: 20px;
  margin-top: 20px;
  text-justify: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* ---- Texte ---- */

.heading {
  margin: 0;
  font-size: 24px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.heading2{
  margin: 0;
  font-size: 18px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.sub-heading {
  border-bottom: 1px solid #e0e0e0;
  font-style: italic;
  color: #777;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

p{
  text-align: justify;
  line-height: 150%;
  text-indent: 30px ;
}

p a, a {
  text-decoration: none;
  color: rgb(102, 147, 177);;
  font-weight: 400;
}

p a:hover{
  font-weight: 600;
}

/* GALERIES */
.galerie {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 5px;
}

.galerie div {
  height: 150px;
  width: 150px;
  flex-grow: 1;
}

#galerie::after{
  content: "";
  display: block;
  flex-grow: auto;
}

.galerie img {  
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.galerie img:hover {
  border: solid;
  border-color: #ebebeb;
  border-width: 3px;
  transition: .2s linear;
}
